.input {
    width: 250px;
    height: 40px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
}

.input:hover {
    border: 1px solid darkgrey;
}

.input_error {
    outline: 1px solid red;
}