:root {
    --main-color: black;
    --main-background-color: lightblue;
    --input-border: #EAEBED;
    --background-card: grey;
    --color-card: darkblue;
    --hover-background-card: lightgrey;
    --border-color-blue: #5ddcff;

    --card-width: calc(var(--card-height) / 1.5);
    --card-height: 35vh;
}

body {
    font-size: 14px;
}

.card_size {
    font-size: 20px;
}